# Kata del módulo 4

Usar métodos de cadena para modificar el texto con hechos sobre la Luna y extraer información para crear un breve resumen.

In [3]:
text_prueba = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

div_text = text_prueba.split('. ')
palabras_clave = ["average", "temperature", "distance"]
div_text

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 '\nOn average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [8]:
for sentence in div_text:
    for palabra_clave in palabras_clave:
        if palabra_clave in sentence:
            print(sentence)
            break

Interesting facts about the Moon
The Moon is Earth's only satellite
There are several interesting facts about the Moon and how it affects life here on Earth

On average, the Moon moves 4cm away from the Earth every year
This yearly drift is not significant enough to cause immediate effects on Earth
The highest daylight temperature of the Moon is 127 C.

In [9]:
for sentence in div_text:
    for palabra_clave in palabras_clave:
        if palabra_clave in sentence:
            print(sentence.replace(' C', ' Celsius'))
            break

Interesting facts about the Moon
The Moon is Earth's only satellite
There are several interesting facts about the Moon and how it affects life here on Earth

On average, the Moon moves 4cm away from the Earth every year
This yearly drift is not significant enough to cause immediate effects on Earth
The highest daylight temperature of the Moon is 127 Celsius.

## Ejercicio 2: Formateando Cadenas

En este ejercicio, se utilizan variables que contienen datos clave sobre la gravedad en varias lunas y luego se utilizan para dar formato e imprimir la información.

El formato tiene que acomodar información sobre otras lunas, por lo que debe ser genérico.

En lugar de reemplazar las variables en una cadena larga como parte de un párrafo, utiliza la información para presentarla en un formato tabular.

In [10]:
planeta = str(input("Planeta: "))
gravedad = float(input("Gravedad del planeta: "))
nombre = input("Nombre: ")

Planeta: dos
Gravedad del planeta: 0.2
Nombre: planeta

In [11]:
titulo = f'datos de gravedad sobre {nombre}' #título

In [12]:
datos = f"""{'-'*80} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2 
"""

In [18]:
plantilla = f"""{titulo.title()} 
{datos} 
""" 
print(plantilla)

Datos De Gravedad Sobre Planeta
--------------------------------------------------------------------------------
Nombre del planeta: dos
Gravedad en planeta: 200.0 m/s2

In [16]:
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: planeta
-------------------------------------------------------------------------------
Nombre del planeta: dos
Gravedad en planeta: 0.2 m/s2